*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family : 'Poppins ',sans-serif;  

}
:root{
    --bg-color:#f6f8fa ;
    --text-color:#1d1f27;
    --main-color:navy ;
         
     

}
#list{
    list-style:  none;
    color: var(--text-color);
    font-weight: 600;
    


}
.tax{
    display: flex;
    text-align: center;
    /*  */
    justify-content: center;
    flex-direction: column;
    margin:2rem 0 ;
    gap:1rem 0 ;
    border-radius:5rem ;
    border: 2rem solid var(--main-color);
    font-weight: 600;
    padding:2rem 2rem;
    box-shadow:.1rem .1rem .1 rem .5rem  rgba(0,0,0, 0.1);    

}
main h1{
    text-align: center;
}

.tax h1{
    text-transform: uppercase;
    font-size: 2rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    

}
main{
    margin: 1rem auto;
    padding:1rem;
    box-shadow: 5px 3px 5px rgb(190, 42, 42) ;
}
.nav-ul{
display: flex;
justify-content:space-around;
align-items: center;
list-style:none;
padding: 20px;
background-color: black;
color: wheat;
cursor: pointer;
}
.li-a{
    color: wheat;
    text-decoration: none;
}
.section-income{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */


    text-align: center;
    background-color: var(--main-color);
    color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 2rem;
    box-shadow: .5rem .5rem .5rem .5rem rgb(190, 42, 42);
}
.section-income div:first-child{
    font-weight: 600;
    font-size: 2.25rem;
    flex-basis: 100%;
    text-transform: uppercase;
}
.section-income p{
    display: inline;
    font-size: 2.25rem;
}
.section-income div:nth-child(n+2){
    flex-basis: 50%;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}
/* .section-income h5{
    /* font-size: 0.75rem; */
   
.balance{
    width: 100px;
}
.input-details{
    
    display:  flex;

    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 600;
}
.input-details input{
    font-weight: 600;
    width: 100%;
}
.input-details button{
    margin-top: 1.5rem;
    font-weight: 600;
    background-color: var(--main-color);
    color: antiquewhite;
    
   flex-basis: 100%;
}
.input-details select{
    flex-basis: 100%;

}